= simple_form_for @trip, html: { id: 'edit_trip_form', class: 'form-vertical' + (@trip.new_record? ? ' new_record' : '' ) } do |f|
  .row
    .col-sm-12
      = f.submit 'Save', class: 'btn btn-primary pull-right'
      = link_to 'Cancel', saved_back_path, class: 'btn pull-right'
      %br
      %br
  .row
    .col-ms-4.col-sm-4.well
      #title_image
        - if @trip.title_image_url
          = image_tag @trip.title_image_url
        - else
          %img.img-thumbnail{ data: { src: "holder.js/300x200/text:Title Image" }}
      = f.hidden_field :title_image_input

      %span#enable_edit_mtns.pull-right.glyphicon.glyphicon-pencil.clickable_icon
      = f.association :mountains, label: 'Mountains', collection: @mountains, label_method: -> (mtn) { mountain_ribbon(mtn) } , input_html: {id: 'trip_mtns_select'} #, placeholder: 'Select a mountain'
      %button#add_mtns.btn.add_select.btn-info.btn-xs.btn-block Select mountains

      %span#enable_edit_hikers.pull-right.glyphicon.glyphicon-pencil.clickable_icon
      /= f.association :hikers, label: 'Hiker(s)', collection: friends, input_html: {id: 'trip_hikers_select'}

      / http://stackoverflow.com/questions/4037537/simple-form-how-to-create-a-grouped-select-box
      - grouped_hikers = [['My Hikers', @friends],['Other Known Hikers', @site_hikers]]
      = f.association :hikers, as: :grouped_select, collection: grouped_hikers, group_method: :last, label_method: -> (hiker) { hiker_ribbon(hiker) }, value_method: :id, input_html: {id: 'trip_hikers_select', multiple: true}

      -# todo: put placehoder in search box even when selections not empty
      -# &nbsp; <span class="glyphicon glyphicon-search"></span>
      %button#add_hikers.add_select.btn.btn-info.btn-xs.btn-block Select Hikers
      /%small search by name or email

      = f.input :date do # datepicker with icon (todo: move to custom input)
        .input-group.date
          = f.text_field :date, class: 'string optional form-control', placeholder: "#{Date.today}" 
          %span.input-group-addon
            %i.glyphicon.glyphicon-th

      = f.input :distance, label: 'Distance Hiked', placeholder: '(e.g. 6.8 miles)'
      = f.input :duration, placeholder: '(e.g. 4 hours)'

    / .col-sm-8
    /   .row
    /     .col-md-offset-1.well
    /       = f.input :notes, label: 'Journal', input_html: { rows: 20 }
    .col-ms-8.col-sm-8.well
      = f.input :title, placeholder: 'My awesome hike'
      
      = f.input :journal, input_html: { rows: 20 }, placeholder: '(Share your experience, describe trail conditions, post pictures. All hikers can edit this area.)'

      = f.input :photos, as: :attachinary

  .row
    .col-sm-12
      = f.submit 'Save', class: 'btn btn-primary pull-right'
      = link_to 'Cancel', saved_back_path, class: 'btn pull-right'
      %br
      %br

= render 'invite_hiker_dialog' 
