.panel.panel-default[trip]
  .panel-body{ class: "#{trip.hikers.include?(current_hiker) && 'bg-success'}"}
    .media
      /= link_to trip, class='pull-left' do
      /%img.media-object{ data: { src: "holder.js/64x64" }}
      .media.glyph
        = link_to trip, class: 'pull-left' do
          - if trip.title_image
            = cl_image_tag trip.title_image.path, size: '64x64', crop: :fit
          - else
            %i.glyph-icon.flaticon-mountain13
        .media-body
          - if trip.title
            %h4= link_to trip.title, trip
          %p
            = trip.mountains.map {|mountain| link_to mountain.name, mountain }.join(', ').html_safe
          %p
            = trip.hikers.map {|hiker| link_to hiker.name, hiker }.join(', ').html_safe
          %p
            = trip.date.strftime('%A, %b %-d, %Y')
