.panel.panel-default[trip]
  .panel-body{ class: "#{trip.hikers.include?(current_hiker) && 'bg-success'}"}
    .media
      .thumbnail.pull-left{ style: 'width: 200px; height: 150px' }
        = link_to trip do
          - if trip.title_image
            = cl_image_tag trip.title_image.path, size: '200x150', crop: :fit
          - else
            .glyph
              %i.glyph-icon.flaticon-mountain13
      .media-body
        - if trip.title
          %h4= link_to trip.title, trip
        %p
          = trip.date.strftime('%A, %b %-d, %Y')
        %p
          = trip.mountains.map {|mountain| link_to mountain.full_name, mountain }.join(', ').html_safe
        %p
          - trip.hikers.each do |hiker|
            %div{style: 'display:inline-block; margin: 0 1em 0.5em 0;'}
              = link_to hiker_ribbon(hiker), hiker

