.row
  #newsfeed.col-sm-8.col-sm-offset-2
    %p &nbsp;
    .btn-group.btn-group-justified
      = active_link_to 'Mine',      me_trips_path, class: 'btn btn-default', active: :exclusive
      = active_link_to 'Friends', trips_path, class: 'btn btn-default', active: :exclusive
      = active_link_to 'All',     everyone_trips_path, class: 'btn btn-default', active: :exclusive

    = title 'Trips Feed'
    - if @trips.blank?
      %p
        %em No trips visible
      %p
        - if current_user
          = link_to 'Add your first trip now!', new_trip_path
        - else
          You must Sign in to see your newsfeed and your friends!
    - else
      = render @trips
      = paginate @trips
