.row
  .md-col-12
    %p.padded
      = link_to newsfeed_path do
        %span.glyphicon.glyphicon-chevron-left
        Trips Feed

.row
  .col-md-4
    - if @trip.title_image
      = image_tag @trip.title_image_url
    /- else
    /  %img.img-thumbnail{ data: { src: "holder.js/300x200/text:Title Image" }}

    %p &nbsp;
    %p= @trip.hikers.map {|hiker| link_to( hiker_ribbon(hiker), hiker) }.join('<br>').html_safe

    - if policy(@trip).edit?
      %p.padded
        = link_to 'Edit Trip Report', edit_trip_path(@trip), class: 'btn btn-primary'

  .col-md-8
    - if @trip.title.present?
      = title @trip.title

    %h3= @trip.date.strftime('%A, %b %-d, %Y')
    - if @trip.distance.present? || @trip.duration.present?
      %p= [@trip.distance, @trip.duration].join(', ')

    - if @trip.mountains.present?
      %p= @trip.mountains.map {|m| link_to m.full_name, m }.join(', ').html_safe


    - if @trip.journal.present?
      %hr
      .journal= raw @trip.journal
    - if @trip.photos.present?
      %hr
      - @trip.photos.each do |photo|
        = cl_image_tag photo.path, size: '75x75', crop: :fill
      %p
      = render 'slide_show'

