%p
  = link_to dashboard_path do
    %span.glyphicon.glyphicon-chevron-left
    Dashboard

.media
  %a.pull-left{ href: '#' }
    %img.img-thumbnail{ data: { src: "holder.js/300x200" }}

  .media-body
    - if trip.title.present?
      %h1= trip.title

    %h3=trip.date
    %p
      = [trip.distance, trip.duration].join(', ')

    - if trip.mountains.present?
      %p= trip.mountains.map {|m| link_to m.name, m }.join(', ').html_safe

    %p= trip.hikers.map(&:name).join(', ')

    %p

    - if trip.journal.present?
      %h3 Journal
      .journal
        = trip.journal

= link_to 'Edit', edit_trip_path(trip), class: 'btn btn-primary'