.row
  .md-col-12
    %p.padded
      = link_to dashboard_path do
        %span.glyphicon.glyphicon-chevron-left
        Dashboard

    .media
      .pull-left
        - if @trip.title_image?
          = cl_image_tag @trip.title_image.path, size: '300x200', crop: :fill, class: 'img-rounded'
        - else
          %img.img-thumbnail{ data: { src: "holder.js/300x200/text:Title Image" }}

      .media-body
        - if @trip.title.present?
          %h1= @trip.title

        %h3= l @trip.date
        - if @trip.distance.present? || @trip.duration.present?
          %p= [@trip.distance, @trip.duration].join(', ')

        - if @trip.mountains.present?
          %p= @trip.mountains.map {|m| link_to m.name, m }.join(', ').html_safe

        %p= raw @trip.hikers.map {|hiker| link_to( hiker_ribbon(hiker).html_safe, hiker).html_safe }.join('<br>').html_safe

        - if @trip.journal.present?
          %hr
          .journal= raw @trip.journal
        - if @trip.photos.present?
          %hr
          - @trip.photos.each do |photo|
            = cl_image_tag photo.path, size: '75x75', crop: :fill, class: 'img-rounded'
          %p
          = render 'slide_show'

    - if policy(@trip).edit?
      %p.padded
        = link_to 'Edit Trip Report', edit_trip_path(@trip), class: 'btn btn-primary'