%tr{ data: { link: mountain_path(mountain) } }
  %td= mountain_counter+1
  %td= mountain.name
  %td= mountain.elevation
  - if current_hiker
    %td.align_right
      - trips = current_hiker.trips.select {|trip| trip.mountains.include? mountain }
      = trips.map {|trip| link_to trip.date, trip, class: 'btn btn-default btn-xs' }.join.html_safe
    %td.align_right
      = hiker_chip(current_hiker) if current_hiker.mountains.include?(mountain)
      = (mountain.hikers & current_hiker.just_friends).map {|hiker| hiker_chip(hiker) }.join.html_safe