-#%tr{ data: { link: mountain_path(mountain) } }
%tr
  / %td= mountain_counter+1
  %td= link_to mountain.full_name, mountain
  %td= number_with_delimiter(mountain.elevation) + "'"
  %td.align_right
    - trips = @hiker.trips.select {|trip| trip.mountains.include? mountain }
    = trips.map {|trip| link_to "#{trip.date.strftime('%b %-d, %Y')}", trip, class: 'btn btn-default btn-xs' }.join.html_safe
  %td.align_right
    = hiker_chip(@hiker) if @hiker.mountains.include?(mountain)
    = (mountain.hikers & @hiker.just_friends).map {|hiker| hiker_chip(hiker) }.join.html_safe