.row
  .md-col-12

.row
  .col-md-4
    = title @hiker.name
    - if @hiker.location.present?
      %p= @hiker.location
    - if @hiker.profile_image_url
      = image_tag @hiker.profile_image_url
    / - else
    /   %img.img-thumbnail{ data: { src: "holder.js/300x200/text:Profile Image" }}

    - if @hiker == current_hiker
      %p.padded= link_to 'Edit Profile', edit_hiker_path(@hiker), class: 'btn btn-primary'

  .col-md-8
    %h3 #{@hiker.first_name}'s NH 4000 Footers

    - count = @hiker.mountains.uniq.count
    - if count > 0
      %p{ style: 'width: 150px; margin: 1em auto'}
        - percent = (count * 100 / Mountain.count) if Mountain.count > 0
        .chart{ style: 'display: inline-block', data: { percent: percent }}= "#{percent}%"
        %em= "#{count} out of #{Mountain.count} New Hampshire 4000-footers bagged!"

    .btn-group.btn-group-justified
      = link_to 'Hiked', current_hiker, class: 'btn btn-default' + (params[:all] ? '' : ' active')
      = link_to 'All',   hiker_path(current_hiker, all: 1), class: 'btn btn-default' + (params[:all] ? ' active' : '')
    %p &nbsp;

    = render 'mountains'

    - if @hiker.photos.present?
      %hr
      %h3 #{@hiker.first_name}'s Photos
      - @hiker.photos.each do |photo|
        %div.pull-left.padded
          - trip = photo.attachinariable
          - mtns = trip.mountains.map(&:name).join(', ')
          = cl_image_tag photo.path, size: '75x75', crop: :fill, title: mtns
          %p
            = link_to "#{trip.date.strftime('%b %-d, %Y')}", trip, title: mtns
