!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
  %body
    / %p (to email #{@hiker.email})
    %h1 
      Hi #{@hiker.name}! 
    %p 
      You've been added to a hiking trip on KeepTrekkin.com. Check out the trip report, edit the journal, and add photos. 
    - if @trip.mountains.present?
      %h3= @trip.title
  
    - unless @hiker.user.present?
      %p
        No sign-up is needed. Just visit #{@url} and connect via your Facebook account. 
      %p
        %small Facebook access is for authentication only. We will never share your info or post without your direction.
      %p{ style: 'text-align: center; font-weight: bold'}
        = link_to 'CLICK TO VISIT', @url
    -if @trip.title_image.present?
      %p.centered
        = image_tag @trip.title_image_url
